<button class="bxi-button" id="loginButton" data-success-callback="defaultAuthnSuccess"
  data-dv-flow="modal" data-policy-id="{{env.BXI_LOGIN_POLICY_ID}}">Log In</button>
<button class="bxi-button" id="registerButton" data-success-callback="defaultAuthnSuccess"
  data-dv-flow="modal" data-policy-id="{{env.BXI_REGISTRATION_POLICY_ID}}">Sign Up</button>