@import '../common/mixins';

&.company {
  color: var(--bxi-company-main-font-color);
  
  .bxi-button {
    text-transform: uppercase;
  }

  .bxi-link {
    font-size: 14px;
  }

  .bxi-auth-buttons {
    // Add button separator
    .bxi-button {
      font-size: 14px;

      @include breakpoint-lg {
        &:not(:last-child) {
          border-right: 1px solid var(--bxi-company-nav-divider-color);
          padding-right: 1rem;
          margin-right: 1rem;
        }
      }
    }
  }

  .video-tile {
    &__thumbnail {
      .thumbnail-overlay {
        background: var(--bxi-company-video-overlay-bg);
      }
  
      .thumbnail-button {
        width: 70px;
        height: 70px;
  
        &::before {
          @include triangle(10px, #000, 'right') {
            top: 50%;
            left: 50%;
            transform: scale(1.5, 1) translate(-25%, -50%);
          }
        }
      }
  
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  &.home {
    .bxi-banner {
      color: var(--bxi-company-banner-color);
  
      &__image {
        background: linear-gradient(180deg, #002AEC 35.26%, rgba(0, 42, 236, 0.7) 55.05%, rgba(0, 42, 236, 0.5) 65.18%, rgba(0, 0, 0, 0.3) 74.37%);
      }
  
      &__text {
        color: var(--bxi-company-banner-color);
      }
    }

    .video-tiles {
      margin-top: -3rem;
    
      .video-tile__thumbnail {
        &:last-child {
          margin-right: 0;
        }
        
        @include breakpoint-lt-lg {
          &:nth-child(2) {
            margin-right: 0;
          }
  
          &:nth-child(3) {
            display: none;
          }
        }
  
        @include breakpoint-lt-md {
          &:nth-child(1) {
            margin-right: 0;
          }
  
          &:nth-child(2) {
            display: none;
          }
        }
      }
    }
    
    .company-main-content-image {
      max-width: 445px;
    }

    .bxi-company-step-icon {
      svg {
        height: 100px;
        width: auto;

        .first-stop {
          stop-color: var(--bxi-company-first-icon-gradient);
        }
  
        .second-stop {
          stop-color: var(--bxi-company-second-icon-gradient);
        }
      }
    }
  }

  &.dashboard {
    .navbar {
      border: 2px solid var(--bxi-company-nav-border-color);
    }

    .filter-dropdown {
      padding: .5rem 1.5rem;
      border: 1px solid var(--bxi-primary-color);

      &::after {
        @include triangle(5px, var(--bxi-primary-color), 'down') {
          top: 18px;
          right: 14px;
        }
      }
    }

    .filter-button {
      margin-top: 17px;
      padding: 13px 1.5rem;
    }

    .bxi-vertical-first-legend,
    .bxi-vertical-second-legend {
      width: 10px;
      height: 10px;
    }

    .bxi-vertical-first-legend {
      background-color: var(--bxi-company-vertical-first-color);
    }
    
    .bxi-vertical-first-legend-fill {
      fill: var(--bxi-company-vertical-first-color);
    }
    
    .bxi-vertical-second-legend {
      background-color: var(--bxi-company-vertical-second-color);
    }
    
    .bxi-vertical-second-legend-fill {
      fill: var(--bxi-company-vertical-second-color);
    }

    .bxi-pie-container {
      width: max-content;

      &:before,
      &:after {
        position: absolute;
        font-weight: bold;
        font-size: 14px;
      }

      &:before {
        content: "2";
        top: 0;
        left: 0;
      }

      &:after {
        content: "6";
        bottom: 0;
        right: 0;
      }
    }

    .bxi-pie-first-legend,
    .bxi-pie-second-legend {
      height: 12px;
      width: 12px;
    }

    .bxi-pie-first-legend {
      background-color: var(--bxi-company-pie-first-color);
    }

    .bxi-pie-second-legend {
      background-color: var(--bxi-company-pie-second-color);
    }

    .bxi-pie-first-legend-fill {
      fill: var(--bxi-company-pie-first-color);
    }

    .bxi-pie-second-legend-fill {
      fill: var(--bxi-company-pie-second-color);
    }

    .bxi-horizontal-container {
      & > span {
        &:nth-child(2) {
          top: 84px;
        }

        &:nth-child(3) {
          top: 168px;
        }
      }
    }

    .bxi-horizontal-first-legend-fill {
      fill: var(--bxi-company-horizontal-first-color);
    }

    .bxi-horizontal-second-legend-fill {
      fill: var(--bxi-company-horizontal-second-color);
    }

    .bxi-horizontal-third-legend-fill {
      fill: var(--bxi-company-horizontal-third-color);
    }

    .thumbnail-overlay {
      width: calc(100% - 1rem);
    }

    .components {
      height: 400px;
      background-color: #fff;
      border: var(--bxi-company-components-border);

      &-icon {
        width: 70px;
        height: 70px;
        font-size: 60px;
        line-height: 1.2;
        color: var(--bxi-company-components-icon-color);
        background: var(--bxi-company-components-icon-bg);
      }

      .bxi-button {
        background: var(--bxi-primary-color);
      }
    }
  }
}