<div id="dv-modal" class="modal dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="d-flex justify-content-end">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="d-flex justify-content-center dialog-logo mb-4">
          {{#if settings.images.dialog_logo}}
          <img width="170" src="{{ settings.images.dialog_logo }}" alt="Logo" />
          {{/if}}
        </div>
        <div id="modal-widgetbox"></div>
        <div id="modal-error" class="text-danger text-center d-none"></div>
      </div>
    </div>
  </div>
</div>
<div id="pwa-tooltip" class="d-none p-2 pwa-tooltip">
  <div class="pwa-tooltip-icon">
    {{{inlineSvg 'info.svg'}}}
  </div>
  <div class="pwa-tooltip-message">You can now install BXIndustry verticals to your iPhone! Tap {{{inlineSvg 'share.svg'}}} and select Add To Homescreen.</div>
  <button id="pwa-tooltip-dismiss" class="bxi-button bxi-button--link mx-3">Dismiss</button>
</div>
<script type="module" src="/bxi-davinci.js"></script>
<script type="module" src="/js/pwa.js"></script>