<!-- Dialog elements -->
<p class="text-danger fs-8 text-center">dialog header</p>
<!-- Dialog Header -->
<h1 class="dialog-header text-center bxi-ff-secondary fw-bold mb-4">Dialog Header</h1>
<!-- End Dialog Header -->

<!-- start form -->
<form id="exampleForm" class="dialog-container bxi-color-light">
  <p class="text-danger fs-8 text-center">wide input</p>

  <!-- Wide Input -->
  <div class="mb-4">
    <label for="exampleField" class="form-label mb-1">Input label</label>
    <input type="text" id="exampleField" name="exampleField" class="form-control" />
    <!-- Optional Validation -->
    <div data-skcomponent="skerrormessage" class="text-danger" data-skerrorid="exampleField"></div>
    <p class="bxi-color-primary">color marked bottom label</p>
  </div>
  <!-- End Wide Input -->

  <p class="text-danger fs-8 text-center">narrow input</p>

  <!-- Narrow Input -->  
  <div class="mb-4 row">
    <div class="col-8 offset-2 col-sm-6 offset-sm-3">
      <label for="exampleFieldNarrow" class="form-label mb-1">Input label</label>
      <input type="text" id="exampleFieldNarrow" name="exampleFieldNarrow" class="form-control" />
      <!-- Optional Validation -->
      <div data-skcomponent="skerrormessage" class="text-danger" data-skerrorid="exampleFieldNarrow"></div>
    </div>
  </div>
  <!-- End Narrow Input -->

  <p class="text-danger fs-8 text-center">text block</p>

  <!-- Centered Text -->
  <p class="mb-0 text-center">Text - no bottom space</p>
  <!-- End Centered Text -->

  <p class="text-danger fs-8 text-center">wide select</p>

  <!-- Wide Dropdown -->
  <div class="mb-3">
    <label for="exampleSelect" class="form-label mb-1">Input label</label>
    <select id="exampleSelect" name="exampleSelect" class="form-select">
      <option>Option1</option>
      <option>Option2</option>
    </select>
    <!-- Optional Validation -->
    <div data-skcomponent="skerrormessage" class="text-danger" data-skerrorid="exampleSelect"></div>
  </div>
  <!-- End Wide Dropdown -->

  <p class="text-danger fs-8 text-center">narrow select</p>

  <!-- Narrow Dropdown -->
  <div class="mb-3 row">
    <div class="col-8 offset-2 col-sm-6 offset-sm-3">
      <label for="exampleSelectNarrow" class="form-label mb-1">Input label</label>
      <select id="exampleSelectNarrow" name="exampleSelectNarrow" class="form-select">
        <option>Option1</option>
        <option>Option2</option>
      </select>
      <!-- Optional Validation -->
      <div data-skcomponent="skerrormessage" class="text-danger" data-skerrorid="exampleSelectNarrow"></div>
    </div>
  </div>
  <!-- End Narrow Dropdown -->

  <p class="text-danger fs-8 text-center">text block with bottom space</p>

  <!-- Centered Text w/ Padding -->
  <p class="text-center mb-5">
    Text line<br/>+ bottom space
  </p>
  <!-- Centered Text w/ Padding -->

  <p class="text-danger fs-8 text-center">block picker with svg icons</p>

  <!-- Picker w/ Icons -->
  <div class="py-4">
    <button class="bxi-radio mb-3" data-skcomponent="skbutton" data-skbuttontype="form-submit" data-skform="exampleForm" data-skbuttonvalue="email">
      <div class="row">
        <div class="col-10 p-4">
          <p class="mb-0">Email me a one time passcode on:</p>
          <p class="mb-0 bxi-color-dark">iel***@bxindustry.com</p>
        </div>
        <div class="col pe-4 d-flex align-items-center justify-content-end">
          <svg fill="none" height="18" viewbox="0 0 22 18" width="22" xmlns="http://www.w3.org/2000/svg">
            <rect height="16" rx="1" stroke-width="2" stroke="#D6DDE9" width="20" x="1" y="1"/>
            <path d="M1.5 1L9.76071 7.52162C10.4873 8.09526 11.5127 8.09526 12.2393 7.52161L20.5 1" stroke-width="2" stroke="#D6DDE9"/>
          </svg>
        </div>
      </div>
    </button>
    <button class="bxi-radio mb-3" data-skcomponent="skbutton" data-skbuttontype="form-submit" data-skform="exampleForm" data-skbuttonvalue="sms">
      <div class="row">
        <div class="col-10 p-4">
          <p class="mb-0">Text me a one-time passcode on:</p>
          <p class="mb-0 bxi-color-dark">8***5678</p>
        </div>
        <div class="col pe-4 d-flex align-items-center justify-content-end">
          <svg fill="none" height="25" viewbox="0 0 24 25" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M5 18H6V17H5V18ZM6.62469 23.7002L7.24939 24.4811H7.24939L6.62469 23.7002ZM13.75 18V17H13.3992L13.1253 17.2191L13.75 18ZM2 3C2 2.44772 2.44772 2 3 2V0C1.34315 0 0 1.34315 0 3H2ZM2 16V3H0V16H2ZM3 17C2.44771 17 2 16.5523 2 16H0C0 17.6569 1.34315 19 3 19V17ZM5 17H3V19H5V17ZM6 22.9194V18H4V22.9194H6ZM6 22.9194H6H4C4 24.5964 5.93986 25.5287 7.24939 24.4811L6 22.9194ZM13.1253 17.2191L6 22.9194L7.24939 24.4811L14.3747 18.7809L13.1253 17.2191ZM21 17H13.75V19H21V17ZM22 16C22 16.5523 21.5523 17 21 17V19C22.6569 19 24 17.6569 24 16H22ZM22 3V16H24V3H22ZM21 2C21.5523 2 22 2.44772 22 3H24C24 1.34315 22.6569 0 21 0V2ZM3 2H21V0H3V2Z" fill="#D6DDE9"/>
            <circle cx="6.5" cy="9.5" fill="#D6DDE9" r="1.5"/>
            <circle cx="12.5" cy="9.5" fill="#D6DDE9" r="1.5"/>
            <circle cx="18.5" cy="9.5" fill="#D6DDE9" r="1.5"/>
          </svg>
        </div>
      </div>
    </button>
    <button class="bxi-radio" data-skcomponent="skbutton" data-skbuttontype="form-submit" data-skform="exampleForm" data-skbuttonvalue="mobileApp">
      <div class="row">
        <div class="col-10 p-4">
          <p class="mb-0">With mobile app:</p>
          <p class="mb-0 bxi-color-dark">On my phone</p>
        </div>
        <div class="col pe-4 d-flex align-items-center justify-content-end">
          <svg fill="none" height="25" viewbox="0 0 17 25" width="17" xmlns="http://www.w3.org/2000/svg">
            <rect height="23" rx="1" stroke-width="2" stroke="#D6DDE9" width="15" x="1" y="1"/>
            <path d="M1 5H16" stroke-width="2" stroke="#D6DDE9"/>
            <circle cx="8.5" cy="19.5" fill="#D6DDE9" r="1.5"/>
          </svg>
        </div>
      </div>
    </button>
  </div>
  <!-- End Picker w/ Icons -->

  <p class="text-danger fs-8 text-center">dialog svg icon - email</p>

  <!-- Centered Email Icon -->
  <div class="d-flex justify-content-center my-5">
    <svg fill="none" height="29" viewbox="0 0 35 29" width="35" xmlns="http://www.w3.org/2000/svg">
      <mask fill="white" id="path-1-inside-1_152_355">
        <rect height="28.6364" rx="2" width="35"/>
      </mask>
      <rect height="28.6364" mask="url(#path-1-inside-1_152_355)" rx="2" stroke-opacity="0.6" stroke-width="6" stroke="#0E264C" width="35"/>
      <path d="M2.38672 1.59082L16.2611 12.5443C16.9877 13.1179 18.013 13.1179 18.7396 12.5443L32.614 1.59082" stroke-opacity="0.6" stroke-width="3" stroke="#0E264C"/>
    </svg>
  </div>
  <!-- Centered End Email Icon -->  

  <p class="text-danger fs-8 text-center">dialog svg icon - sms</p>
  
  <!-- Centered SMS Icon -->
  <div class="d-flex justify-content-center my-5">
    <svg fill="none" height="40" viewbox="0 0 38 40" width="38" xmlns="http://www.w3.org/2000/svg">
      <path d="M8.10787 27.9584H9.60787V26.4584H8.10787V27.9584ZM9.73256 37.3475L10.6696 38.5188L10.6696 38.5188L9.73256 37.3475ZM21.4688 27.9584V26.4584H20.9427L20.5318 26.7871L21.4688 27.9584ZM3.5 4C3.5 3.72386 3.72386 3.5 4 3.5V0.5C2.067 0.5 0.5 2.06701 0.5 4H3.5ZM3.5 25.9584V4H0.5V25.9584H3.5ZM4 26.4584C3.72386 26.4584 3.5 26.2346 3.5 25.9584H0.5C0.5 27.8914 2.06701 29.4584 4 29.4584V26.4584ZM8.10787 26.4584H4V29.4584H8.10787V26.4584ZM9.60787 36.5666V27.9584H6.60787V36.5666H9.60787ZM8.79552 36.1762C9.12291 35.9142 9.60787 36.1473 9.60787 36.5666H6.60787C6.60787 38.6628 9.03269 39.8283 10.6696 38.5188L8.79552 36.1762ZM20.5318 26.7871L8.79552 36.1762L10.6696 38.5188L22.4059 29.1297L20.5318 26.7871ZM33.5933 26.4584H21.4688V29.4584H33.5933V26.4584ZM34.0933 25.9584C34.0933 26.2346 33.8694 26.4584 33.5933 26.4584V29.4584C35.5263 29.4584 37.0933 27.8914 37.0933 25.9584H34.0933ZM34.0933 4V25.9584H37.0933V4H34.0933ZM33.5933 3.5C33.8694 3.5 34.0933 3.72386 34.0933 4H37.0933C37.0933 2.067 35.5263 0.5 33.5933 0.5V3.5ZM4 3.5H33.5933V0.5H4V3.5Z" fill-opacity="0.6" fill="#0E264C"/>
      <circle cx="10.3979" cy="14.9792" fill-opacity="0.6" fill="#0E264C" r="2.29045"/>
      <circle cx="19.56" cy="14.9792" fill-opacity="0.6" fill="#0E264C" r="2.29045"/>
      <circle cx="28.7221" cy="14.9792" fill-opacity="0.6" fill="#0E264C" r="2.29045"/>
    </svg>
  </div>
  <!-- Centered End SMS Icon -->

  <p class="text-danger fs-8 text-center">dialog svg icon - mobile</p>

  <!-- Centered Mobile App Icon -->
  <div class="d-flex justify-content-center my-5">
    <svg fill="none" height="44" viewbox="0 0 30 44" width="30" xmlns="http://www.w3.org/2000/svg">
      <mask fill="white" id="path-1-inside-1_152_412">
        <rect height="44" rx="2" width="29.92"/>
      </mask>
      <rect height="44" mask="url(#path-1-inside-1_152_412)" rx="2" stroke-opacity="0.6" stroke-width="6" stroke="#0E264C" width="29.92"/>
      <path d="M3 8.79956H26.9388" stroke-opacity="0.6" stroke-width="3" stroke="#0E264C"/>
      <circle cx="14.9623" cy="34.3197" fill-opacity="0.6" fill="#0E264C" r="2.64"/>
    </svg>
  </div>
  <!-- Centered Mobile App Icon -->

  <p class="text-danger fs-8 text-center">submit button</p>

  <!-- Centered Submit Button -->
  <button class="bxi-button bxi-button--lg bxi-button--submit d-block mx-auto mb-4" data-skcomponent="skbutton" data-skbuttontype="form-submit" data-skform="exampleForm" data-skbuttonvalue="exampleButtonValue">Submit</button>
  <!-- End Centered Submit Button -->

  <p class="text-danger fs-8 text-center">social icons login</p>
  
  <!-- Social Icon Buttons -->
  <p class="text-center fs-7 fw-boldish">Or log in with:</p>
  <ul class="ls-none d-flex align-items-center justify-content-center ps-0 mb-4">
    <li class="px-3">
      <button class="bxi-button bxi-button--icon bxi-button--outline bxi-button--facebook" data-skcomponent="skbutton" data-skbuttontype="form-submit" data-skform="exampleForm" data-skbuttonvalue="facebook">
        <svg fill="none" height="21" viewbox="0 0 10 21" width="10" xmlns="http://www.w3.org/2000/svg">
          <path d="M2.1913 21H6.3913V10.4087H9.31304L9.58696 6.84783H6.3913C6.3913 6.84783 6.3913 5.47826 6.3913 4.83913C6.3913 4.01739 6.57391 3.65217 7.39565 3.65217C8.03478 3.65217 9.67826 3.65217 9.67826 3.65217V0C9.67826 0 7.30435 0 6.75652 0C3.65217 0 2.1913 1.36957 2.1913 4.01739C2.1913 6.3 2.1913 6.84783 2.1913 6.84783H0V10.4087H2.1913V21Z" fill="#000"/>
        </svg>
      </button>
    </li>
    <li class="px-3">
      <button class="bxi-button bxi-button--icon bxi-button--outline bxi-button--linkedin" data-skcomponent="skbutton" data-skbuttontype="form-submit" data-skform="exampleForm" data-skbuttonvalue="linkedIn">
        <svg fill="none" height="20" viewbox="0 0 19 20" width="19" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.30002 6.40002H0.400024V19.1H4.30002V6.40002Z" fill="#000"/>
          <path d="M2.3 4.7C3.6 4.7 4.6 3.6 4.6 2.4C4.6 1.2 3.6 0 2.3 0C1 0 0 1.1 0 2.3C0 3.5 1 4.7 2.3 4.7Z" fill="#000"/>
          <path d="M10.6 12.4C10.6 10.6 11.4 9.50002 13 9.50002C14.4 9.50002 15.1 10.5 15.1 12.4C15.1 14.2 15.1 19.1 15.1 19.1H19C19 19.1 19 14.5 19 11C19 7.60002 17.1 5.90002 14.4 5.90002C11.7 5.90002 10.6 8.00002 10.6 8.00002V6.40002H6.79999V19.1H10.6C10.6 19.1 10.6 14.4 10.6 12.4Z" fill="#000"/>
        </svg>
      </button>
    </li>
    <li class="px-3">
      <button class="bxi-button bxi-button--icon bxi-button--outline bxi-button--apple" data-skcomponent="skbutton" data-skbuttontype="form-submit" data-skform="exampleForm" data-skbuttonvalue="apple">
        <svg fill="none" height="20" viewbox="0 0 18 20" width="18" xmlns="http://www.w3.org/2000/svg">
          <path d="M14.2118 19.1946C13.1143 20.2474 11.9033 20.0833 10.7491 19.5869C9.52201 19.0805 8.40019 19.0485 7.10423 19.5869C5.49035 20.2754 4.6338 20.0753 3.66183 19.1946C-1.82577 13.6104 -1.01579 5.10388 5.22103 4.78364C6.73366 4.8637 7.79271 5.61027 8.68368 5.67232C10.008 5.40611 11.2756 4.64353 12.6931 4.74361C14.3961 4.87971 15.6697 5.54422 16.5202 6.73913C13.0171 8.82071 13.8473 13.3842 17.0649 14.6652C16.421 16.3364 15.5948 17.9877 14.2098 19.2086L14.2118 19.1946ZM8.56219 4.72359C8.39817 2.24171 10.4332 0.200152 12.7741 0C13.096 2.86218 10.1416 5.00381 8.56219 4.72359Z" fill="#000"/>
        </svg>
      </button>
    </li>
  </ul>
  <!-- End Social Icon Buttons -->

  <p class="text-danger fs-8 text-center">footer message</p>
  
  <!-- Centered Text w/ Link -->
  <p class="text-uppercase text-center bxi-color-dark fw-boldish">
    Footer message
    <a class="bxi-button bxi-button--link text-uppercase">
      Footer link
    </a>
    and
    <button class="bxi-button bxi-button--link text-uppercase">
      Footer link button
    </button>
  </p>
  <!-- Centered Text w/ Link -->
</form>
