<!-- Password recovery user name -->
<h1 class="dialog-header text-center bxi-ff-secondary fw-bold mb-4">Password recovery</h1>
<form class="dialog-container bxi-color-light" id="passwordRecoveryForm">
  <p class="text-center">
    Please enter your username to reset password
  </p>
  <div class="mb-4">
    <label for="username" class="form-label mb-1">Username</label>
    <input type="text" id="username" name="username" class="form-control" />
    <div data-skcomponent="skerrormessage" class="text-danger" data-skerrorid="username"></div>
    <button class="bxi-button bxi-button--link">Forgot your username?</p>
  </div>
  <button class="bxi-button bxi-button--lg bxi-button--submit d-block mx-auto mb-4" data-skcomponent="skbutton" data-skbuttontype="form-submit" data-skform="passwordRecoveryForm" data-skbuttonvalue="exampleButtonValue">Recover Password</button>
  <p class="text-center">
    Don't have an account?
    <a class="bxi-button bxi-button--link">
      Create an account
    </a>
  </p>
</form>
<!-- / Password recovery user name -->