<!-- Password recovery, success message -->
<h1 class="dialog-header text-center bxi-ff-secondary fw-bold mb-4">Password recovery</h1>
<div class="dialog-container bxi-color-light">
  <p class="text-center mb-4">
    Your password was successfully recovered.<br/>
    Log in with the new password.  
  </p>
  <button class="bxi-button bxi-button--link d-block mx-auto mb-4">Log in</button>
</div>
<!-- / Password recovery,success message -->