<!-- Sign in via email one-time passcode -->
<h1 class="dialog-header text-center bxi-ff-secondary fw-bold mb-4">Welcome back</h1>
<div class="dialog-container bxi-color-light">
  <form class="dialog-form dialog-content__form" id="emailOtpForm">
    <div class="d-flex justify-content-center my-5">
      <svg fill="none" height="29" viewbox="0 0 35 29" width="35" xmlns="http://www.w3.org/2000/svg">
        <mask fill="white" id="path-1-inside-1_152_355">
          <rect height="28.6364" rx="2" width="35"/>
        </mask>
        <rect height="28.6364" mask="url(#path-1-inside-1_152_355)" rx="2" stroke-opacity="0.6" stroke-width="6" stroke="#0E264C" width="35"/>
        <path d="M2.38672 1.59082L16.2611 12.5443C16.9877 13.1179 18.013 13.1179 18.7396 12.5443L32.614 1.59082" stroke-opacity="0.6" stroke-width="3" stroke="#0E264C"/>
      </svg>
    </div>
    <p class="text-center mb-3">
      We sent an email to iel***@bxindustry.com<br/>
      Please enter one-time passcode to log in to your account.
    </p>
    <div class="mb-4 row">
      <div class="col-8 offset-2 col-sm-6 offset-sm-3">
        <input type="text" id="emailOtp" name="emailOtp" class="form-control" />
        <div data-skcomponent="skerrormessage" class="text-danger" data-skerrorid="emailOtp"></div>
      </div>
    </div>
    <button class="bxi-button bxi-button--lg bxi-button--submit d-block mx-auto mb-3" data-skcomponent="skbutton" data-skbuttontype="form-submit" data-skform="emailOtpForm" data-skbuttonvalue="exampleButtonValue">Log in</button>
  </form>
  <button class="bxi-button bxi-button--link d-block mx-auto mb-4">Resend</button>
</div>
<!-- /Sign in via email one-time passcode -->