<!-- Username recovery -->
<h1 class="dialog-header text-center bxi-ff-secondary fw-bold mb-4">Username recovery</h1>
<form class="dialog-container bxi-color-light" id="usernameRecoveryForm">
  <p class="text-center mb-3">
    Please enter your email address to receive an email with your username
  </p>
  <div class="mb-4">
    <label for="email" class="form-label mb-1">Email</label>
    <input type="text" id="email" name="email" class="form-control" />
    <div data-skcomponent="skerrormessage" class="text-danger" data-skerrorid="email"></div>
  </div>
  <button class="bxi-button bxi-button--lg bxi-button--submit d-block mx-auto mb-3" data-skcomponent="skbutton" data-skbuttontype="form-submit" data-skform="usernameRecoveryForm" data-skbuttonvalue="exampleButtonValue">Send a request</button>
  <p class="text-center">
    Don't have an account?
    <a class="bxi-button bxi-button--link">
      Create an account
    </a>
  </p>
</form>

<!-- /Username recovery -->