@import "./mixins";

.bxi-component-bg-color {
  background-color: var(--bxi-component-bg-color);
}

&.dashboard {
  background-color: var(--bxi-dashboard-bg-color);

  .portal-sidebar-dropdown {
    &::before {
      @include triangle(4px, var(--bxi-primary-color), 'down') {
        top: 26px;
        left: 22px;
      }
    }
  }

  .portal-header-dropdown {
    color: var(--bxi-header-dropdown-color);
    border: 1px solid var(--bxi-header-dropdown-border-color);

    &:hover {
      opacity: .8;
    }

    &::after {
      @include triangle(4px, var(--bxi-header-dropdown-border-color), 'down') {
        top: 18px;
        right: 14px;
      }
    }
  }
}