@import '../common/mixins';

&.realty {
  .bxi-link {
    text-transform: uppercase;
  }
  
  .bxi-banner {
    margin-top: -4.5rem;
  }

  .bxi-auth-buttons .bxi-button,
  .bxi-button {
    text-transform: uppercase;
  }

  .bxi-showcase {
    &-color {
      color: var(--bxi-realty-showcase-color);
    }
  
    &-header {
      .bxi-button {
        min-width: 150px;

        @include breakpoint-md {
          min-width: 200px;
        }
      }
    }
    
    &-unit {
      height: 350px;

      svg {
        width: 16px;
        height: 24px;
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 255px;
        transition: 0.2s;
        background: linear-gradient(180deg, rgba(37, 73, 89, 0.6) 0%, rgba(37, 73, 89, 0) 100%);
        z-index: 2;
      }

      &:hover {
        &::before {
          height: 100%;
          background: linear-gradient(180deg, #254959 0%, rgba(37, 73, 89, 0) 100%);
        }
      }
    }
  }

  &.home {
    .bxi-banner {
      &__image {
        height: 700px;
      }

      &--color {
        color: var(--bxi-realty-banner-color);
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background: linear-gradient(180deg, rgba(37, 73, 89, 0.6) 0%, rgba(37, 73, 89, 0) 100%);
      }

      &-milestone {
        background-color: var(--bxi-realty-banner-milestone-bg-color);
      }
    }
  }

  &.dashboard {
    .bxi-header-bg-color {
      background-color: var(--bxi-realty-dashboard-header-bg-color);
    }

    #username-container {
      color: var(--bxi-realty-dashboard-username-color);
    }

    .bxi-realty-search svg {
      top: 16px;
      right: 16px;
      @include color-icon(var(--bxi-realty-dashboard-placeholder-icon-color));
    }

    .bxi-unit {
      &-wrapper {
        border: 1px solid var(--bxi-realty-dashboard-unit-border-color);
        transition: border-color 0.2s, box-shadow 0.2s;

        &:hover {
          border-color: var(--bxi-primary-color);
          box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.11);
        }

      }

      &-color {
        color: var(--bxi-realty-dashboard-unit-color);
      }
    }

    .bxi-action-button {
      svg {
        margin-top: -4px;
      }
    }
  }
}
