@import "../common/mixins";

&.insurance {
  background-color: var(--bxi-page-bg-color);

  .navbar {
    background-color: var(--bxi-navbar-bg-color);
  }

  .bxi-button {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: var(--bxi-primary-font);
  }

  .bxi-link {
    font-size: 14px;
    text-transform: uppercase;
  }

  .bxi-auth-buttons {
    .bxi-button {
      font-size: 12px;
      padding: .5rem 1rem;
      border-radius: 2px;

      @include breakpoint-lt-lg {
        padding: 0;
      }
    }
  }

  .bxi-service {
    &:hover {
      box-shadow: 4px 6px 29px rgba(0, 0, 0, 0.1);
    }

    &-color {
      color: var(--bxi-service-color);
    }
  }

  &.home {
    .bxi-banner {
      min-height: 700px;

      @include breakpoint-lt-lg {
        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(255, 255, 255, 0.41);
        }
      }
    }
  }

  &.dashboard {
    #username-container {
      margin-top: 4px;

      @include breakpoint-lg {
        margin-top: 2px;
      }
    }

    .bxi-auth-buttons .bxi-button {
      padding-right: 0;
    }

    .bxi-advertisement {
      @include breakpoint-lt-md {
        &-image-container {
          min-height: 300px;
        }
      }

      &-color {
        color: var(--bxi-dashboard-advertisement-color);
      }
    }
  }
}