@import '../common/mixins';

&.eats {
  .bxi-button {
    border-radius: 50px;
  }

  .bxi-copyright-bg-color {
    background-color: var(--bxi-eats-copyright-bg-color);
  }

  .bxi-program {
    height: 250px;
    padding-top: 50px;

    &:hover {
      padding-top: 0;
    }

    &-color {
      color: var(--bxi-eats-program-color);
    }

    &-overlay {
      background: linear-gradient(0.59deg, rgba(12, 35, 68, 0.8) 9.94%, rgba(10, 29, 57, 0) 94.52%);
    }
  }

  &.home {
    .bxi-banner {
      &--text {
        color: var(--bxi-eats-banner-color);
      }
      
      &__image {
        height: 500px;
        @include breakpoint-md {
          height: 700px;
        }
      }

      &-content { 
        height: 100%;
        width: 100%;
        background: linear-gradient(90.77deg, rgba(15, 17, 14, 0.7) 15.41%, rgba(15, 17, 14, 0) 97.48%);
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 55%;
      }
    }
    
    .bxi-order-form {
      height: 100%;
      background-color: var(--bxi-eats-order-bg-color);

      &__bg {
        background-color: var(--bxi-primary-color);
        height: 300px;
      }

      h5 {
        font-size: 54px;
        line-height: 76px;
        font-weight: 700;
        text-align: center;
      }

      .bxi-order {
        background-color: var(--bxi-eats-order-form-bg-color);
        max-width: 1012px;
        box-shadow: 6px 6px 40px rgb(0 0 0 / 15%);
        border-radius: 14px;
        margin-top: -270px;
      }

      .bxi-input-container {
        border: 1px solid #CECECE;
        background-color: var(--bxi-dashboard-bg-color);
      }

      .bxi-button {
        min-width: 254px;
      }
    }

    .bxi-discounts-section {
      background-color: var(--bxi-eats-order-bg-color);

      &__text-small {
        color: var(--bxi-eats-discounts-color);
      }

      &__text-st {
        text-decoration: line-through black; 
      }

      .bxi-discounts-row {
        margin: 0px 70px 118px 70px;
      }

      .bxi-discounts-section-discount {
        background-color: var(--bxi-dashboard-bg-color);
        height: 85%;
        border: 1px solid #E0E0E0;
        border-radius: 8px;
      }

      .bxi-discounts-footer {

        &__side {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }
      }

      .product-img {
        height: 164px;
        object-fit: contain;
      }
    }

    .bxi-footer {
      .bxi-copyright-color {
        color: var(--bxi-footer-color);
      }
    }
  }

  &.dashboard {
    background-color: var(--bxi-eats-dashboard-container-bg-color);

    .navbar {
      background-color: var(--bxi-dashboard-bg-color);
    }
    .bxi-eats-dashboard--color {
      color: var(--bxi-eats-portal-color);
    }
    
    .bxi-dashboard {
      .bxi-categories {
        color: var(--bxi-eats-portal-category-color);

        .img-wrapper {
          height: 75%;

          &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 50%;
            background: linear-gradient(180deg, rgba(33, 33, 33, 0.48) 9.94%, rgba(36, 36, 36, 0) 94.52%);
            z-index: 1;
          }
        }
      }

      .bxi-eats-portal {
        background-color: var(--bxi-dashboard-bg-color);

        &--header {
          font-size: 55px;
          font-weight: 600;
        }

        &--text {
          color: var(--bxi-eats-portal-checkmark-border-color);
        }

        .bxi-checkmark {
          width: 25px;
          min-width: 25px;
          height: 25px;
          border: 1px solid var(--bxi-primary-color);

          svg {
            display: none;
          }

          &--checked {
            background-color: var(--bxi-primary-color);
            border: none;

            svg {
              display: block
            }
          }
        }

        .bxi-checklist-item {
          border-top: 1px solid #BEC9DB;
        }
      }

      .bxi-finance-card {
        max-width: 307px;
        height: 50%;
        margin: auto;
        background: linear-gradient(var(--bxi-eats-finance-card-gradient));
        box-shadow: 2px 4px 19px rgb(0 0 0 / 25%);
        border-radius: 11px;
        color: var(--bxi-eats-portal-category-color);

        &--line {
          height: 40px;
          background: rgba(29, 41, 34, 0.19);
        }
      }

      .bxi-document {
        @include color-icon(var(--bxi-primary-color));

        &--color {
          color: var(--bxi-primary-color);
        }

        & > span {
          width: 60px;
        }
      }

      .bxi-eats-sidebar {
        background-color: var(--bxi-dashboard-bg-color);
        height: 100%;
        width: 100%;
      }
    }

    .bxi-footer {
      .bxi-copyright-color {
        color: var(--bxi-footer-color);
      }
    }
  }
}
