<!DOCTYPE html>
<html lang="en">
  {{#> head }}
    <style>
      :root {
        --bxi-primary-font: 'Montserrat', sans-serif;
        --bxi-secondary-font: 'Poppins', serif;
        --bxi-primary-color: #afb2ba;
        --bxi-secondary-color: #19191f;
        --bxi-button-color: #fff;
        --bxi-button-bg-color: var(--bxi-primary-color);
        --bxi-button-bg-hover-color: #67686b;
        --bxi-link-button-color: var(--bxi-primary-color);
        --bxi-link-button-hover-color: var(--bxi-secondary-color);
        --bxi-generic-banner-color: #fff;
      }
    </style>
  {{/head}}
  <body class="bxi generic home">
    {{> variables}}
    <header class="masthead" style="background-image: url('https://cdn.glitch.me/e527ecf6-cfaf-462c-9a0f-da0c77633414%2Fhome-bg.jpg?v=1636660805462')">
      <nav class="navbar fixed-top navbar-expand">
        <div class="container mt-4">
          <div>
            <ul class="bxi-auth-buttons bxi-auth-buttons--link navbar-nav ms-auto py-4 py-lg-0">
              {{!-- See src/home-nav-buttons.hbs to update auth buttons --}}
              {{> homeNavButtons}}
            </ul>
          </div>
        </div>
      </nav>
      <div class="container position-relative px-4">
        <div class="justify-content-center">
          <div class="text-center">
            <h1>{{settings.heading}}</h1>
            <span class="fs-3 fw-bold">{{settings.sub_heading}}</span>
          </div>
        </div>
      </div>
    </header>
    <div class="container p-4">
      <div class="justify-content-center text-center">
        <div data-dv-flow="static" data-policy-id="{{env.BXI_GENERIC_POLICY_ID}}"></div>
        <hr class="my-4" />
      </div>
    </div>
    {{> remix}}
    {{> modal}}
  </body>
</html>
